   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

}
body{
   overflow-y: scroll;
  overflow-x: hidden;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
/*****************************************

Afiki Logo

****************************************/
#logo {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
}

/*****************************************

HEADER SECTION

****************************************/

.header{
  height: 100vh;
  width: 100%;
  background:
  linear-gradient(
      rgba(12, 12, 13, 0.64),
    rgba(12, 12, 13, 0.64)

  ),
  /* bottom, image */
  url(../assets/img/intro1.png);
  background-size: cover;
}
.intro_name{
  margin-top: 8%;

}
.intro_name h1{
  font-size: 4rem;
  font-weight: 300;

  color:white;
  font-family: 'Raleway', sans-serif;
}
.redtext{
  color: red;
}
.project{
  /*border: 2px solid black;*/
}
.btn{
  display: inline-block;
  margin-left: 10px;
  max-width: 100%;
  height: 55px;
  width: 200px;
  text-align: center;
  border-radius: 25px;
  border: 1px solid #688009;
  transition: all .2s ease;
}
.btn:hover{
  background-color: rgb(113, 176, 22);
}
.btn a{
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 2.2rem;
  margin-top: 5px;

}
.project h3{
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  display: inline-block;

}


/*****************************************

ABOUT SECTION

****************************************/
.about{
  height: 100vh;
}

/*****************************************

TEAM SECTION

****************************************/
.team{
  height: 160vh;
  width: 100%;
  /*border: 3px solid black;*/
}
.team_one{
  height: 80vh;
  width: 100%;

}
.team_two{
  height: 80vh;
  width: 100%;
}
.large-4{
  /*border: 3px solid black;*/
  height: 100%;
}
.team h3{
  font-size: 2rem;
  font-weight: bolder;
  font-family: 'PT Sans', sans-serif;

}
.team small{
  font-size: 1.5rem;
  font-weight: normal;
  font-family: 'Inconsolata','Roboto', sans-serif;
}
.team p{
  font-size: 1rem;
  font-weight: normal;
  font-family: 'Inconsolata','Roboto', sans-serif;
}
.person_image{
  height: 50vh;

}
.gian{
  background-image: url(../assets/teamimages/gian.png);
  background-size: cover;
}
.victor{
  background-image: url(../assets/teamimages/victor.jpg);
  background-size: cover;
}
/*.victor:hover .fa-twitter{display: block;}*/
.bill{
  background-image: url(../assets/teamimages/bill.jpg);
  background-size: cover;
}
.martin{
  background-image: url(../assets/teamimages/martin.jpg);
  background-size: cover;
}
.maureen{
  background-image: url(../assets/teamimages/maureen.jpg);
  background-size: cover;
}
.job{
  background-image: url(../assets/teamimages/job.jpg);
  background-size: cover;
}
