   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

}
body{
   overflow-y: scroll;
  overflow-x: hidden;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
/*****************************************

Afiki Logo

****************************************/
#logo {
    position: fixed;
    height: 90px;
    top: 0px;
    left: 0px;
    z-index: 100;
    background-image: url(../assets/img/logo.jpg);
    background-size: cover;
}

/*****************************************

HEADER SECTION

****************************************/

.header{
  height: 100vh;
  width: 100%;
  background:
  url(../assets/img/imagetab.jpg);
  background-size: cover;
}
.intro_name{
  margin-top: 8%;

}
.intro_name h1{
  font-size: 4rem;
  font-weight: 300;
  color:rgb(65, 65, 65);
  font-family: 'Raleway', sans-serif;
}
.redtext{
  color: red;
}
.project{
  /*border: 2px solid black;*/
}
.btn{
  display: inline-block;
  margin-left: 10px;
  max-width: 100%;
  height: 55px;
  width: 200px;
  text-align: center;
  border-radius: 25px;
  border: 1px solid #688009;
  transition: all .2s ease;
}
.btn:hover{
  background-color: rgb(113, 176, 22);
}
.btn a{
  color:rgb(65, 65, 65);
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 2.2rem;
  margin-top: 5px;

}
.project h3{
  color:rgb(65, 65, 65);
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  display: inline-block;

}

/*****************************************

About Us SECTION

****************************************/

/*.about_text{
  margin: 10px 0 20px 0;
  padding: 0px;
}
.about_text h3{
  text-align: left;
  color:rgb(65, 65, 65);
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 1.4rem;

}

.definition{
  margin-bottom: 30px;
}
.definition p{
  font-family: times, Times New Roman, times-roman, georgia, serif;
  color: #444;
  font-size: 51px;
	line-height: 44px;
	letter-spacing: -2px;
  font-weight: bold;;
}

.vision p{
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 30px;
  font-weight: 900;
  color: rgb(71, 69, 71);
}
.red{
  font-size: 35px;
  font-family: times, Times New Roman, times-roman, georgia, serif;
  color: red;
  font-weight: bold;
}
*/
.about{
  height: 100vh;
}
/*****************************************

services SECTION

****************************************/
.services{
  height: 100vh;
}
.services_text{
  margin: 10px 0 10px 0;
}
.services_text h3{
  text-align: left;
  color:rgb(65, 65, 65);
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 1.4rem;
}

.services h1{
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
}
.web_mobi{
  height: 80vh;
}
.web_mobi h1{
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  color: rgb(52, 49, 54);
}
.web_mobi p{
  font-weight: 300;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  color: rgb(62, 69, 80);
}
.web{
  height: 40vh;
  /*border: 2px solid black;*/
  transition: border-color 300ms;
  border: 1px solid transparent;
}
.webimage{
  margin: 10px 0 10px 0;
  height: 40vh;
  /*border: 1px solid yellow;*/
  background-image: url(../assets/img/webdesign2.jpg);
  background-size: contain;
}
.mobile{
  height: 40vh;
  /*border: 2px solid black;*/

}
.mobileimage{
  margin: 10px 0 10px 0;
  height: 40vh;
  /*border: 1px solid yellow;*/
  background-image: url(../assets/img/mobiledev.png);
  background-size: contain;
}
.ui_ux{
  height: 40vh;
  /*border: 2px solid black;*/
}
.uximage{
  margin: 10px 0 10px 0;
  height: 40vh;
  /*border: 1px solid yellow;*/
  background-image: url(../assets/img/uxdesign.jpg);
  background-size: contain;
}

.bottomdiv{
  height: 2vh;
  width: 100%;
  background-color:rgb(113, 176, 22);
  transition: all .2s ease;
}
.bottomdiv p {
  font-weight: lighter;
  font-size: 2rem;
  font-family: 'Indie Flower', cursive;
  padding-top: 20px;
  padding-left: 5px;
  color: white;
  display: none;
}
.web:hover{
  border-color:rgb(113, 176, 22);

}
.web:hover .bottomdiv{
  height: 15vh;
}
.web:hover .bottomdiv p{
  display: block;
}

.mobile:hover{
  border: 1px solid rgb(113, 176, 22);
}
.mobile:hover .bottomdiv{
  height: 15vh;
}
.mobile:hover .bottomdiv p{
  display: block;
}

.ui_ux:hover{
  border: 1px solid rgb(113, 176, 22);
}
.ui_ux:hover .bottomdiv{
  height: 15vh;
}
.ui_ux:hover .bottomdiv p{
  display: block;
}
/*****************************************

TEAM SECTION

****************************************/
.team{
  height: 160vh;
  width: 100%;
  /*border: 3px solid black;*/
  margin-bottom: 40px;
}
.tem_text{
  margin: 10px 0 10px 0;
}
.team_text h3{
  text-align: left;
  color:rgb(65, 65, 65);
  font-family: 'Raleway', sans-serif!important;
  font-weight: 900;
  font-size: 1.4rem !important;
}
.team_one{
  height: 80vh;
  width: 100%;
  margin-bottom: 40px;
}
.team_two{
  height: 80vh;
  width: 100%;
}
.large-4{
  /*border: 3px solid black;*/
  height: 100%;
}
.team h3{
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  color: rgb(52, 49, 54);
}
.team small{
  font-weight: bold;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  color: rgb(62, 69, 80);
}
.team p{
  font-size: 1rem;
  font-weight: normal;
  font-family: 'Inconsolata','Roboto', sans-serif;

  transition: all .2s ease;
}
.person_image{
  height: 50vh;
  text-align: center;
}
.gian{
  background-image: url(../assets/teamimages/gian.jpg);
  background-size: cover;
  transition: all .2s ease;
}
.victor{
  background-image: url(../assets/teamimages/victor.jpg);
  background-size: cover;
  transition: all .2s ease;
}
/*.victor:hover .fa-twitter{display: block;}*/
.bill{
  background-image: url(../assets/teamimages/bill.jpg);
  background-size: cover;
  transition: all .2s ease;
}
.martin{
  background-image: url(../assets/teamimages/martin.jpg);
  background-size: cover;
  transition: all .2s ease;
}
.maureen{
  background-image: url(../assets/teamimages/maureen.jpg);
  background-size: cover;
  transition: all .2s ease;
}
.job{
  background-image: url(../assets/teamimages/job.jpg);
  background-size: cover;
  transition: all .2s ease;
}
.links{
  padding-top: 100px;
}
.links > li{
  display: none;
  text-decoration: none;
  padding: 15px;
  /*position: absolute;*/


}
.links > li >i{
  color: white;
}
/**********team hover effects*********************/
.gian:hover{
  background-image:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
   rgba(0, 0, 0, 0.5)
   ), url(../assets/teamimages/gian.jpg);
}
.victor:hover{
  background-image:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
   rgba(0, 0, 0, 0.5)
   ), url(../assets/teamimages/victor.jpg);
}
.bill:hover{
  background-image:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
   rgba(0, 0, 0, 0.5)
   ), url(../assets/teamimages/bill.jpg);
}
.martin:hover{
  background-image:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
   rgba(0, 0, 0, 0.5)
   ), url(../assets/teamimages/martin.jpg);
}
.maureen:hover{
  background-image:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
   rgba(0, 0, 0, 0.5)
   ), url(../assets/teamimages/maureen.jpg);
}
.job:hover{
  background-image:
  linear-gradient(
    rgba(0, 0, 0, 0.5),
   rgba(0, 0, 0, 0.5)
   ), url(../assets/teamimages/job.jpg);
}
.person_image:hover .links > li{
  display: inline-block;
}

/*****************************************

FOOTER SECTION

****************************************/
