/*menu and nav*/
.nav-bar-custom{
  background-color: #fff;
  opacity: 0.8;
  z-index: 10000;
  position: fixed;
  min-width: 100%;
  height: auto;
}
.page-overlay{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 1000;
  background-color: #000;
  opacity: 0.5;
}
/*NAV AND SIDE MENU*/
.logo-left{
  float: left;
  right: 0;
  height: 90px;
  width: 200px;
}

.menu{
  position: relative;
  float: right;
  margin-top:2%;
  margin-right: 5%;
}

.menu .fa-bars{
  padding-top: 10%;
  font-size: 32px;
  font-weight: 100;
  width: 20%;
}

.menu-right{
  position: fixed;
  display: none;
  float: right;
  border-left: 1px solid #fff;
  width: 0;
  height:100%;
  right: 0;
  z-index: 10000;
  background: #fafafa;
  color: #000;
}
.menu-right ul>li{
  font-size: 22px;
}
.menu-right .title-menu img{
  margin-top: 26px;
  margin-bottom: 0;
  padding-bottom: 0;
  float: left;
  margin-left:1%;
  height: auto;
  width: 100px;
}

.menu-right #menu-close{
  margin-top: 26px;
  margin-bottom: 0;
  padding-bottom: 0;
  float: right;
  font-weight: bold;
  margin-right: 8%;
  font-size: 32px;
}

.menu-right .menu-links{
  list-style: none;
}

.menu-right .menu-links li{
  position: relative;
  margin-bottom: 12%;
}
.menu-right .menu-links hr{
  position: relative;
  min-width: 100%;
}
.menu-right .contact-us{
  text-align: center;
  display: block;
  margin-left: 12%;
}
.menu-right .contact-us ul>li{
  list-style: none;
  display: inline;
  margin-right: 22%;
}
/*end of menu and Nanv*/
.fat-line{
  border-bottom: 2px solid #424242;;
}
/*media query for the menu*/
@media(max-widt: 1280px){}
@media(max-width: 800px){

}
@media(max-width: 360px){
  .logo-left img{
    height: 100px;
    width: 100px;
  }

  .menu .fa-bars{
    font-size: 22px;
    font-weight: 100;
    width: 20%;
  }

  .menu #menu-open{
    font-size: 22px;
  }
  .menu-right{
    font-size: 22px;
  }

}

@media(max-width: 320px){
  .logo-left img{
    margin-top: px;
    height: 50px;
    width: auto;
  }
  .menu .fa-bars{
    font-size: 16px;
    font-weight: 100;
    width: 20%;
  }
  .menu #menu-open{
    font-size: 16px;
  }
  .menu-right{
    font-size: 22px;
  }

}
/*END OF NAV AND SIDE MENU*/
