body{
  position: absolute;
  font-size: 200%;
  font-weight: 200;
  background: #fff3e0;
  color: #424242;
  font-family: 'Quicksand', sans-serif;
  z-index: -10;
}
.page-overlay{
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 1000;
  background-color: #000;
  opacity: 0.5;
}
/*NAV AND SIDE MENU*/
.logo-left{
  float: left;
  right: 0;
  height: 90px;
  width: 200px;
}

.menu{
  position: relative;
  float: right;
  margin-top:2%;
  margin-right: 5%;
}

.menu .fa-bars{
  padding-top: 10%;
  font-size: 32px;
  font-weight: 100;
  width: 20%;
}

.menu-right{
  position: fixed;
  display: none;
  float: right;
  border-left: 1px solid #fff;
  width: 0;
  height:100%;
  right: 0;
  z-index: 10000;
  background: #fafafa;
  color: #000;
}
.menu-right ul>li{
  font-size: 22px;
}
.menu-right .title-menu img{
  margin-top: 26px;
  margin-bottom: 0;
  padding-bottom: 0;
  float: left;
  margin-left:1%;
  height: auto;
  width: 100px;
}

.menu-right #menu-close{
  margin-top: 26px;
  margin-bottom: 0;
  padding-bottom: 0;
  float: right;
  font-weight: bold;
  margin-right: 8%;
  font-size: 32px;
}

.menu-right .menu-links{
  list-style: none;
}

.menu-right .menu-links li{
  position: relative;
  margin-bottom: 12%;
}
.menu-right .menu-links hr{
  position: relative;
  min-width: 100%;
}
.menu-right .contact-us{
  text-align: center;
  display: block;
  margin-left: 12%;
}
.menu-right .contact-us ul>li{
  list-style: none;
  display: inline;
  margin-right: 22%;
}

.fat-line{
  border-bottom: 2px solid #424242;;
}
/*media query for the menu*/
@media(max-widt: 1280px){}
@media(max-width: 800px){

}
@media(max-width: 360px){
  .logo-left img{
    height: 100px;
    width: 100px;
  }

  .menu .fa-bars{
    font-size: 22px;
    font-weight: 100;
    width: 20%;
  }

  .menu #menu-open{
    font-size: 22px;
  }
  .menu-right{
    font-size: 22px;
  }

}

@media(max-width: 320px){
  .logo-left img{
    margin-top: 20px;
    height: 50px;
    width: auto;
  }
  .menu .fa-bars{
    font-size: 16px;
    font-weight: 100;
    width: 20%;
  }
  .menu #menu-open{
    font-size: 16px;
  }
  .menu-right{
    font-size: 22px;
  }

}
/*END OF NAV AND SIDE MENU*/
.card {
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #272727;
}
.card .image {
  position: relative;
}
.card .image img {
  width: 100%;
  height: 100%;
}
.card .image-overlay {
  position: absolute;
  background-color: #000;
  min-width: 100%;
  z-index: 100;
  opacity: 0.5;
  color: #fff;
  font-size: 1rem;
}

.card .content {
  position: relative;
  text-align: center;
  display: block;
  height: auto;
  margin-top: 10%;
  margin-bottom: 30%;
}

a {
  color: inherit;
}

.row .work-title{
  position: relative;
  display: block;
  border-bottom: 5px solid #424242;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 32px;
}
.row p{
  display: block;
  font-size: 38px;
  margin: 12px;
}
/*media queries*/
/*when screen size is above 1280px*/
@media (max-width:1280px) {
  .row .work-title{
    position: relative;
    display: block;
    text-align: center;
    font-size: 200%;
    border-bottom: 5px solid #424242;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 32px;
  }
  .card .title {
    position: relative;
    font-weight: 100;
    padding: 2%;
    font-size: 42px;
  }
  .card .content .content-text {
    position: relative;
    font-size: 38px;
  }
  .card .content .fa-link {
    position: relative;
    color: #fff;
    font-size: 40px;
    bottom: auto;
  }
  .card .content .line {
    position: absolute;
    border-bottom: 1px solid #fff;
    left: 22%;
    right: 22%;
  }
  .row p{
    position: relative;
    display: block;
    font-size: 100%;
    font-size: 32px;
    margin: 12px;

  }
}
/*when screen size is below 800px*/
@media (max-width:800px) {
  .card .title {
    position: relative;
    font-weight: 100;
    padding: 2%;
    font-size: 38px;
  }
  .card .content .content-text {
    position: relative;
    font-size: 32px;
  }
  .card .content .fa-link {
    position: relative;
    color: #fff;
    font-size: 36px;
    bottom: auto;
  }
  .card .content .line {
    position: absolute;
    border-bottom: 1px solid #fff;
    left: 22%;
    right: 22%;
    /*bottom: 32%;*/
  }
  .row .work-title{
    position: relative;
    display: block;
    text-align: center;
    font-size: 66px;
    border-bottom: 5px solid #424242;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 32px;
  }
  .row p{
    position: relative;
    display: block;
    font-size: 100%;
    font-size: 28px;
    margin: 12px;

  }
}
/*when screen size is below 360px*/
@media (max-width: 360px) {
  .card .content .title {
    position: relative;
    font-size: 30px;
    font-weight: 100;
  }
  .card .content .content-text {
    position: relative;
    font-size:22px;
    text-align: center;
    font-weight: 100;
    margin: 0;
    padding: 0;
  }
  .card .content .line {
    position: absolute;
    border-bottom: 3px solid #fff;
    left: 22%;
    right: 22%;
    bottom: 68%;
    padding: 0;
    margin: 0;
  }
  .card .content .fa-link {
    position: relative;
    color: #fff;
    font-size:34px;
    font-weight: 100;
    bottom: auto;
  }
  .row .work-title{
    position: relative;
    display: block;
    font-size: 34px;
    border-bottom: 5px solid #424242;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 32px;
  }
  .row p{
    position: relative;
    display: block;
    text-align: center;
    font-size: 70%;
    font-size: 22px;
    margin: 12px;
  }
}
/*when screen size is below 320px*/
@media (max-width: 320px) {
  .card .content .title {
    position: relative;
    font-size: 28px;
    font-weight: 100;
  }
  .card .content .content-text {
    position: relative;
    font-size:20px;
    font-weight: 100;
    margin: 0;
    padding: 0;
  }
  .card .content .line {
    position: absolute;
    border-bottom: 3px solid #fff;
    left: 22%;
    right: 22%;
    bottom: 68%;
    padding: 0;
    margin: 0;
  }
  .card .content .fa-link {
    position: relative;
    color: #fff;
    font-size:32px;
    font-weight: 100;
    bottom: auto;
  }
  .row .work-title{
    position: relative;
    display: block;
    font-size: 32px;
    border-bottom: 5px solid #424242;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 32px;
  }
  .row p{
    position: relative;
    display: block;
    text-align: center;
    font-size: 65%;
    font-size: 22px;
    margin: 12px;
  }
}

.columns {
  margin: 0;
  padding: 0;
}
